//FONTS
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

//VARIABLES
@import "styles/variables";

//COMPONENTS
@import "styles/home";
@import "styles/leaderboard";
@import "styles/q1";
@import "styles/q2";
@import "styles/q3";
@import "styles/q4";
@import "styles/q5";
@import "styles/temporizador";
@import "styles/emergentCard";


body, *{
    margin: 0;    
    box-sizing: border-box;          
    font-family: $ff-pp;
}

