.q1{    
    background-image: url(./assets/q1_mobile_wp4.jpg);
    @extend %components_main_styles;

    .hero{        
        @extend %hero-general-style;

        .book-title{
            margin-top: 20px;            
            font-size: $fsm-xl;
            color: $yellow;
            font-family: $ff-mrr;
        }
    }

    .writers{
        @extend %Q-btn;        
    }

}

@media screen and (min-width:450px){
    .q1{
        .filter{
            backdrop-filter: blur(.5rem);
        }

        .hero{
            max-width: none; 

            .book-title{
                font-size: $fst-l;
            }
        }

        .writers{
            max-width: 420px;
            font-size: $fst-m ;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width:1100px){
    .q1{
        .hero{
            .book-title{
                font-size: $fsd-xl;
            }
        }

        .writers{
            max-width: 420px;
            font-size: $fsd-m ;
            padding-bottom: 20px;
        }
    }
}