.q2{    
    background-image: url(./assets/q2_mobile_wp.jpg);
    @extend %components_main_styles;

    .hero{
        @extend %hero-general-style;

        span{
            color: $yellow
        }
    }

    .discoveries{
        @extend %Q-btn;
    }
}

@media screen and (min-width:450px){
    .q2{
        .hero{
            max-width: none;
        }

        .discoveries{
            max-width: 420px;
            font-size: $fst-m ;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width:1100px){
    .q2{
        .hero{            
            h1{
                font-size: $fst-l;
            }            
        }

        .discoveries{
            max-width: 420px;
            font-size: $fsd-m ;
            padding-bottom: 20px;
        }
    }
}