//COLORS
$red:#AC0700;
$red-hover:#ce1800;
$white:#fff;
$purple:#211768;
$yellow:#F3A317;
$yellow-hover:#F3A317aa;
$green-light:#0c4;
$orange:#e60;
$violet:#8a2be2;
$violet-hover:#8a2be2cd;


//FONT-SIZE
//--mobile
$fsm-m:1.3rem;
$fsm-xl:2rem;
//---tablet
$fst-m:1.5rem;
$fst-l:2.3rem;
$fst-s:1.1rem;
//---desktop
$fsd-m:1.8rem;
$fsd-xl:3rem;


//FONT-FAMILY
$ff-mrr:'Merriweather', serif;
$ff-pp:'Poppins', sans-serif;


//BUTTONS
%Q-btn{
    max-width: 260px;
    padding: 0;
    list-style: none;    
    text-align: center;
    width: 90%;
    margin: 0 auto;
    li{            
        border: 2px solid $yellow;
        border-radius: 20px;
        margin:25px 0;
        cursor: pointer;
        &:hover{
            background-color: $yellow;
            color: #000;
        }
    }
}

//COMPONENTS MAIN STYLES
%components_main_styles{
    min-height: 100vh;    
    background-size: cover;
    color: $white;
    //para poder posicionar la tarjeta emergente dentro del componente
    position: relative;
    //
    
    .filter{
        backdrop-filter: blur(.3rem);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

//HERO
%hero-general-style{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;    
}