//COLORS
$red:#AC0700;
$red-hover:#ce1800;
$white:#fff;
$purple:#211768;
$yellow:#F3A317;
$yellow-hover:#F3A317aa;


//FONT-SIZE
//--mobile
$fsm-m:1.3rem;
$fsm-xl:2rem;
//---tablet
$fst-m:1.5rem;
$fst-l:2.3rem;
$fst-s:1.1rem;
//---desktop
$fsd-m:1.8rem;
$fsd-xl:2.8rem;


//FONT-FAMILY
$ff-mrr:'Merriweather', serif;
$ff-pp:'Poppins', sans-serif;