.home {
  min-height: 100vh;
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/73/37/dd/7337dd152216decafff639f1761ff09e.jpg");
  background-size: cover;
}

.home .filter {
  height: 100vh;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .hero {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .hero .language-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 5px 0 0;
}

.home .hero .language-select.alone {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.home .hero .language-select a {
  font-size: 1.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #AC0700;
}

.home .hero .language-select select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  outline: none;
  background-color: #AC0700;
  color: #fff;
}

.home .hero article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #C70039;
  /* h2{
                color: #002CAC;
                margin-top: 25px;
                line-height: 2.5rem;
                                
            } */
}

.home .hero article p {
  color: #211768;
  font-size: 1.3rem;
  margin-top: 30px;
}

.home .hero article p span {
  font-family: 'Merriweather', serif;
  color: #F3A317;
  font-size: 2rem;
}

.home .form {
  -webkit-box-flex: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.home .form input {
  margin-bottom: 12px;
  height: 45px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 10px;
  background: #F3A317;
  color: #211768;
}

.home .form button {
  border: none;
  background: #F3A317;
  color: #211768;
  border-radius: 15px;
  outline: none;
  width: 50%;
  height: 35px;
  margin: 0 auto;
  margin-bottom: 6px;
}
/*# sourceMappingURL=home.css.map */